<router-outlet></router-outlet>

<!-- <button (click)="go()">get data</button>
<div class='container'>
    <div *ngFor='let data of list'>
        <mat-form-field appearance="fill">
          <mat-label>date</mat-label>
          <input matInput [value]="data['date']">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>summary</mat-label>
            <input matInput [value]="data['summary']">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>temperatureC</mat-label>
            <input matInput [value]="data['temperatureC']">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>temperatureF</mat-label>
            <input matInput [value]="data['temperatureF']">
        </mat-form-field>
      </div>
</div> -->