<div class='layout'>
    <div class="main-header">
        <app-mainheader></app-mainheader>
    </div>
    <div class="side-header">
        <app-sideheader></app-sideheader>
    </div>
    <div class='app-container'>
        <app-appcontainer></app-appcontainer>
    </div>
</div>

