.layout{
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    // overflow:hidden;
}
.main-header{
    width: 100%;
    height: 50px;
    background: #444444;
    position: absolute;
}

.app-container{
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top:50px;
    left:50px;
    background: white;
    position: absolute;
}

.side-header{
    top: 50px;
    width: 50px;
    height: 100%;
    background: #555555;
    position: absolute;
}